<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="token">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown dropdown-menu-right">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>

  </div>
</nav>


<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
        <ngx-spinner class="myspiner" bdOpacity=0.9 bdColor="#rgba(255, 255, 255, 0.5)" size="large" color="#FF0000"
        type="ball-scale-multiple" [fullScreen]="false">
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <p>
      <a href="javascript:void(0)">Login Username: superadmin@gmail.com</a>
  </p>
  <p>
      <a href="javascript:void(0)">Password:- Chirag@123</a>
  </p>
</div>